<%- include('../partials/header') %>
<h3>Update a Meeting</h3>
<% if (user?._id) { %>
<form id="update-meeting-form" action="/meetings/<%= meetings._id %>?_method=PUT" method="POST">

        <label>Meeting Name:</label>
        <input type="text" name="mtgName" value="<%= meetings.mtgName %>">

        <label>Organization:</label>
        <input type="text" name="organization" value="<%= meetings.organization %>">

        <label>Weekday:</label>
        <select name="weekday" value="<%= meetings.weekday %>">
            <!-- <option>-- Select one --</option> -->
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
        </select>
        
        <label>Time:</label>
        <input type="time" name="time" value="<%= meetings.time %>">
       
        <label>Meeting Length:</label>
        <input type="Number" name="length" value="<%= meetings.length %>">

        <label for="format">Format:</label>
        <select id="format" name="format">
            <option>-- Select one --</option>
            <option value="In Person">In Person</option>
            <option value="Online Only">Online Only</option>
            <option value="Hybrid">Hybrid</option>
        </select>

        <div id="dependent-inputs">
            <label>Meeting URL:</label>
            <input type="text" name="link" value="<%= meetings.link %>">

            <label>Meeting ID:</label>
            <input type="text" name="mtgId" value="<%= meetings.mtgId %>">

            <label>Meeting Passcode:</label>
            <input type="text" name="mtgPasscode" value="<%= meetings.mtgPasscode %>">
        </div>
        <div id="location">
            <label>Meeting Location:</label>
            <input type="text" name="address" value="<%= meetings.address %>">
        </div>
      
        <input type="submit" name="submit">
    </form>
<% } %>

<%- include('../partials/footer') %>
