<%- include('../partials/header') %>
<div class="show-details-map-container">
<section id="meeting-info">
    <a href="/meetings"><< Back to meetings</a>
    <h2><%= meetings.mtgName %></h2>
    <!-- <div>Meeting Name: <%= meetings.mtgName %></div>    -->
    <div><span class="grey-text">Organization:</span> <%= meetings.organization %></div>   
    <div><span class="grey-text">Weekday:</span> <%= meetings.weekday %></div>
    <div><span class="grey-text">Time:</span> <%= meetings.time %></div>  
    <div><span class="grey-text">Length:</span> <%= meetings.length %>h</div> 
    <div id="mtg-format"><span class="grey-text">Format:</span> <%= meetings.format %></div>
    <div id="meeting-location"><span class="grey-text">Location:</span> <%= meetings.address %></div>
    <div id="zoom-info">
        <div><span class="grey-text">URL:</span> <a href="<%= meetings.link %>">Zoom Link</a></div>
        <div><span class="grey-text">Meeting ID:</span> <%= meetings.mtgId %></div>
        <div><span class="grey-text">Meeting Passcode:</span> <%= meetings.mtgPasscode %></div>
    </div>

    <% if (user) { %>
    <!-- <a href="/meetings/<%= meetings._id %>/edit"><button id="update-meeting-btn">Update Meeting</button></a> -->
    <button id="update-meeting-btn">Update Meeting</button>
    <form id="remove-mtg-form" action="/meetings/<%= meetings._id %>?_method=DELETE" method="POST">
        <button id="remove-mtg-btn" type="submit">Remove Meeting</button>
    </form>
    <% } %>


<!--UPDATE MODAL -->
    <div id="updateModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
 
          <form id="updateForm" action="/meetings/<%= meetings._id %>?_method=PUT" method="POST">
 
            <label>Meeting Name:</label>
        <input type="text" name="mtgName" value="<%= meetings.mtgName %>">

        <label>Organization:</label>
        <input type="text" name="organization" value="<%= meetings.organization %>">

        <label>Weekday:</label>
        <select name="weekday" value="<%= meetings.weekday %>">
            <!-- <option>-- Select one --</option> -->
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
        </select>
        
        <label>Time:</label>
        <input type="time" name="time" value="<%= meetings.time %>">
       
        <label>Meeting Length:</label>
        <input type="Number" name="length" value="<%= meetings.length %>">

        <label for="format">Format:</label>
        <select id="format" name="format">
            <option>-- Select one --</option>
            <option value="In Person">In Person</option>
            <option value="Online Only">Online Only</option>
            <option value="Hybrid">Hybrid</option>
        </select>

        <div id="dependent-inputs">
            <label>Meeting URL:</label>
            <input type="text" name="link" value="<%= meetings.link %>">

            <label>Meeting ID:</label>
            <input type="text" name="mtgId" value="<%= meetings.mtgId %>">

            <label>Meeting Passcode:</label>
            <input type="text" name="mtgPasscode" value="<%= meetings.mtgPasscode %>">
        </div>
        <div id="location">
            <label>Meeting Location:</label>
            <input type="text" name="address" value="<%= meetings.address %>">
        </div>
            <input type="submit" value="Update">
          </form>
        </div>
      </div>

</section>

<section id="map">
    <iframe
  width="600"
  height="400"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCO0Prya2KV8-B8-A3X1h_68WbS1atHKkM&q=<%= meetings.address %>>"
  allowfullscreen>
</iframe>
</section>
</div>

<section  id="comments-section">

<div id="comment-wrapper">
    <% if (meetings.comments.length) { %>
        <% meetings.comments.forEach(c=> { %>
            <div class="avatar"><img alt="User Avatar" src="<%= c.avatar %>"></div>
            <ul>
                <div><%= c.createdAt.toLocaleDateString() %></div>
                <div><%= c.name %></div>
                <div><%= c.content %></div>
                <div>
                    <% if (user?._id.equals(c.user)) { %>
                        <form class="delete-comment-form" action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                            <button class="delete-comment-btn" type="submit">x</button>
                        </form>
                        <% } %>
                </div>
            </ul>
            <% }) %>
</div>
<% } %>
    <% if (user) { %>
        <form id="comment-form" method="POST" action="/meetings/<%= meetings._id %>/comments">
            <label>Leave a Comment:</label>
            <textarea name="content"></textarea>
            <input type="submit" value="Comment">
        </form>
        <% } %>
</section>

<%- include('../partials/footer') %>