<%- include('../partials/header') %>

<h2>meetings/show</h2>
<a href="/meetings">Back to meetings</a>
<section id="meeting-info">
    <div>Meeting:</div>
    <div><%= meetings.mtgName %></div>
    
    <div>Organization:</div>
    <div><%= meetings.organization %></div>
    
    <div>Weekday:</div>
    <div><%= meetings.weekday %></div>

    <div>Time:</div>
    <div><%= meetings.time %></div>
    
    <div>Length:</div>
    <div><%= meetings.length %>h</div>
    

    <div>Format:</div>
    <div id="mtg-format"><%= meetings.format %></div>
    
    <div id="zoom-info">
        <div>URL:</div>
        <div><a href="<%= meetings.link %>">Zoom Link</a></div>

        <div>Meeting ID:</div>
        <div><%= meetings.mtgId %></div>

        <div>Meeting Passcode:</div>
        <div><%= meetings.mtgPasscode %></div>
    </div>
</section>

<section>
    <h2>Comments</h2>
    <% if (user) { %>
    <form id="comment-form" method="POST" action="/meetings/<%= meetings._id %>/comments">
        <label>Comment:</label>
        <textarea name="content"></textarea> 
        <input type="submit" value="Comment">
    </form>
    <% } %>
</section>
<section>
    <% if (meetings.comments.length) { %>
        <div>Comments:</div>
        <% meetings.comments.forEach(c=> { %>
            <div><img alt="User Avatar" src="<%= c.avatar %>"><%= c.name %></div>
            <div>c.createdAt.toLocaleDateString() %></div>
            <div><%= c.content %></div>
         <% }) %>
     <% } else { %>
        <h5>Be the first to comment!</h5>
        <% } %>
</section>

<%- include('../partials/footer') %>