<%- include('../partials/header') %>

<h2>meetings/show</h2>
<a href="/meetings">Back to meetings</a>
<section id="meeting-info">
    <div>Meeting:</div>
    <div><%= meetings.mtgName %></div>
    
    <div>Organization:</div>
    <div><%= meetings.organization %></div>
    
    <div>Weekday:</div>
    <div><%= meetings.weekday %></div>

    <div>Time:</div>
    <div><%= meetings.time %></div>
    
    <div>Length:</div>
    <div><%= meetings.length %></div>

    <div>Format:</div>
    <div id="mtg-format"><%= meetings.format %></div>
    <div id="zoom-info">
        <div>URL:</div>
        <div><%= meetings.link %></div>

        <div>Meeting ID:</div>
        <div><%= meetings.mtgId %></div>

        <div>Meeting Passcode:</div>
        <div><%= meetings.mtgPasscode %></div>
    </div>
</section>

<%- include('../partials/footer') %>